/* flexbox properties */
.container{
    background-color: teal;
}
.child{
    background-color: palevioletred;
    display: flex;
    flex-direction: row;
    /* gap: 40px; */
    justify-content: space-between;
}
.berna{
    background-color: teal;
    border-color: rgb(9, 52, 52);
}